.box {
  display: flex;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #3d5475;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  align-items: center;
  font-weight: 600;
}
.input {
  height: 30px;
  border-radius: 10px;
  border: transparent;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
