.box {
  display: flex;
  padding: 10px 30px;
  background-color: #3d5475;
  border-radius: 10px;
  margin-bottom: 30px;
}
.title {
  margin: 0;
  padding: 0;
  color: white;
}
.input {
  height: 30px;
  border-radius: 10px;
  border: transparent;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
